/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/phpcs.xml export-ignore
/phpunit.xml.dist export-ignore
/tests export-ignore
/test_fixtures export-ignore
/phpstan.neon export-ignore
/psalm.xml export-ignore
