parameters:
    level: 9
    paths:
        - src
        - tests
        - test_fixtures
    checkMissingOverrideMethodAttribute: true
    ignoreErrors:
        # False positive due to https://github.com/phpstan/phpstan/issues/9384
        -
            message: '/^Static property Doctrine\\Deprecations\\Deprecation::\$type \(int<0, 7>\|null\) does not accept int\.$/'
            path: src/Deprecation.php

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
